.profile-sec{
  
  width: 100%;
}
.profile-container{
  padding: 40px 40px;
  width: 100%;
}

.profile-card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.profile-card{
  max-width: 300px;
  width: 280px;
  height: 390px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.profile-card img{
  width: 260px;
  height: 160px;
  border-radius: 10px;
}
 .profile-about{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .profile-about h2{
  font-weight: bold;
  font-size: 22px;
 }
 .profile-about p{
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.5;
 }
 .profile-about .rating{
  justify-content: space-between;
  display: flex;
  font-size: 13px;
  font-weight: bold;
 }
 .p-cta{
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
 }
 .fa-circle-check{
   color: rgb(40, 40, 185);
   font-size: 18px;
 }

 .main{
  padding: 40px 50px;
  margin: auto auto;
 }
 .main h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
 }
 .main img{
   width: 100%;
   height: 350px;
   border-radius: 10px;
   margin-top: 10px;
 }
 footer{
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
 }
 .footer-container{
  display: flex;
  padding: 40px 40px;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .footer-logo .copy{
  font-size: 18px;
  margin: 5px 5px;
  color: rgba(240, 255, 255, 0.668);
  font-weight: bold;
  line-height: 2;
  font-style: oblique;
 }
 .footer-logo{
  max-width: 350px;
 }
 .footer-links{
   font-family: Arial, Helvetica, sans-serif;
   color: white;
 }
 .footer-links ul{
  list-style: none;
    display: flex;
  flex-direction: column; /* Stack links vertically */
  gap: 8px;               /* Optional: space between links */
  align-items: flex-start; /* Align links to the left */
  padding: 0;
  margin: 0;
  list-style: none;
 }
  .footer-links ul li{
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
    color: white;
  }
  .footer-links ul li a{
      text-decoration: none;
      color: white;
    }
    .mail-sign-up{
      font-family: Arial, Helvetica, sans-serif;
    }
    .mail-sign-up h2{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .mail-sign-up input{
      padding: 10px;
      width: 50%;
      border: 1px solid white;
      border-radius: 2px;
      outline: none;
      background-color: rgb(24, 24, 24);
    }
    .input-field{
      gap: 0px;
      margin-top: 2px;
    }
    .foot{
      background-color:rgb(89, 89, 210) ;
      color: white;
      font-size: 15px;
    }
    .social-links{
        margin-top: 10px;
        font-size: 24px;
        color:rgb(89, 89, 210) ;
    }
    .social-links a{
      padding: 5px;
      margin-right: 8px;
      color:rgb(89, 89, 210)
    }
    .about-container p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 1.68;
      font-style: unset;
      font-weight: bold;
    }
    .about-sec{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .about-container h2{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 28px;
      font-weight: bolder;
      margin-bottom: 8px;
      color: rgb(84, 84, 185);
    }